@font-face {
    font-family: 'MonteCarlo';
    src: url('MonteCarlo-Regular.ttf') format('truetype');
  }

.cc-navbar{
    background-color: rgba(0,0,0,.90);
    font-family: 'montserrat',sans-serif;
    font-size: 20px;
    box-shadow: 1px 1px 3px rgba(255,255,255,.54);
    z-index: 99
}
.cc-navbar-brand{
    font-family: 'MonteCarlo',sans-serif; 
    font-size: 50px;
}

.cc-navbar .nav-link {
	border-bottom: 1px solid transparent;
	transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}

.cc-navbar .nav-link:hover {
	padding-bottom: 20px;
	border-bottom-color: var(--bs-teal);
}

.btn-connexion{
    color : var(--bs-teal);
    border-color:var(--bs-teal);
    transition : 0.5s
}
.btn-connexion:hover,
.btn-connexion:active{
    color : #ffff;
    background-color:var(--bs-teal);  
}
.cc-footer{
    background-color: rgba(167, 163, 163, 0.9);
    font-family: 'montserrat',serif;
    box-shadow: 1px 1px 3px rgba(255,255,255,.54);
    z-index: 99
}

.cc-footer-brand{
    font-family: 'MonteCarlo', sans-serif; 
    font-size: 60px;
}


.social-icons{
    display: flex;
   justify-content: flex-end;
   margin-bottom: 3px;
}

.social-icons a {
    margin-left: 10px; /* Espacement entre les icônes */
}
  
:target::before {
    content: "";
    display: block;
    height: 80px;
    margin: -80px 0 0;
  }

  /* connexion */
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9e3e3;
}
form{
    margin-top: 20px;
    background-color: #ffff;
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 300px;
    
}
 form h1{
    text-align: center;
    
}
.inputs {
 display: flex;
 flex-direction: column;
 
}

#login, #mdp {
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-bottom: 15px;
    border: none;

}
#bouton {
 padding: 15px 25px;
 background-color: #f2f2f2;
 font-size: 20px;
 font-family: 'roboto ,sans-serif';
 border-radius: 5px;
 border: none;

}

#divlogin, #divmdp {
    margin-bottom: 10px;
}